:root {
  --width: 4;
  --height: 4;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

label {
  font-size: 16px;
}

input {
  border-radius: 5px;
  padding: 4px 8px;
  width: 80px;
}

button {
  border: #77b9ff;
  border-radius: 5px;
  padding: 4px 12px;
  font-size: 16px;
  background-color: #3a99ff;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #007bff;;
}

.node__container {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 calc(100% / (var(--height) ));
}

.node {
  flex: 0 0 calc(100% / var(--width));
}

.controls {
  align-self: center;
  margin: 40px 0px 10px ;
}

